<div class="container py-4">
  <div class="text-center">
    <h1>Find wiki pages</h1>
  </div>

  <ng-container *ngIf="!!formGroup">
    <form [formGroup]="formGroup" (ngSubmit)="submitForm()">
      <fieldset [disabled]="isFormLoading$ | async">
      <div class="form-group">
        <label for="fromWiki">From wiki link <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="fromWiki" placeholder="From wiki" formControlName="fromWiki">
        <small id="fromWikiHelp" class="form-text text-muted">Add wiki page from where you want to start searching from</small>
      </div>
      <div class="form-group">
        <label for="toWiki">To wiki link <span class="text-danger">*</span></label>
        <input type="text" class="form-control" id="toWikitoWiki" placeholder="To wiki" formControlName="toWiki">
        <small id="toWikiHelp" class="form-text text-muted">Add wiki page from where you want to end searching</small>
      </div>
      @if (hasError$ | async) {
        <p class="text-danger">Not all fields are filled correctly</p>
      }
      <button type="submit" class="btn btn-primary">
        @if (isFormLoading$ | async) {
          <div class="spinner-border spinner-border-sm" role="status"></div>
        }
        Search
      </button>
    </fieldset>
    <a [routerLink]="''" class="btn btn-dark my-2">
      Back
    </a>
    </form>
    @if (!!(wikiPageToOpenFromTo$ | async)) {
      <p>You can find this this page with <b>{{wikiPageToOpenFromTo$ | async}} click/s</b></p>
    }
  </ng-container>
</div>
